#barra{
    
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
    font-family:Cambria;
    font-size: 120%;
    font-style: italic;
}

#menu{

    margin: 20px;
    padding: 20px;
    text-align: center;
    font-style: italic;
}

#principal{
    font-family: Cambria;
    background: url("../img/avion.png") no-repeat center center fixed;
    background-size: cover;
	background-attachment: fixed; 
    font-style: italic;
    text-align: center;
    

}

#resumen{

    margin: 40px;
    padding: 30px;
    
    
}

#pasarela{

    background-color: blueviolet;
    border-radius: 30px;
    margin: 20px;
    padding: 29px;
}

#datos{
    background-color:blueviolet;
    height: 250px;
    width: 200px;
    border-radius: 30px;
    margin: 90px;
    padding: 30px;
    

}

#fuentes{

    color:cornsilk;
}